In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    config("spark.sql.warehouse.dir", f"/user/itv009538/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
spark

In [3]:
spark.sql("use itv009538_week5_assignment")

++
||
++
++

In [4]:
spark.sql("create table itv009538_week5_assignment.groceries(order_id string, location string, item string, order_date string, quantity integer)")

++
||
++
++

In [5]:
spark.sql("show tables").show()

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv009538_week5_a...|groceries|      false|
|itv009538_week5_a...|    test1|      false|
+--------------------+---------+-----------+

In [7]:
groceries_df = spark.read.csv("/public/trendytech/groceries.csv", header="true", inferSchema="true")

In [8]:
groceries_df.show(5)

+--------+--------+--------+----------+--------+
|order_id|location|    item|order_date|quantity|
+--------+--------+--------+----------+--------+
|      o1| Seattle| Bananas|01/01/2017|       7|
|      o2|    Kent|  Apples|02/01/2017|      20|
|      o3|Bellevue| Flowers|02/01/2017|      10|
|      o4| Redmond|    Meat|03/01/2017|      40|
|      o5| Seattle|Potatoes|04/01/2017|       9|
+--------+--------+--------+----------+--------+
only showing top 5 rows